section {
  height: 99vh;
  width: 100%;
}

.container {
  margin: 2rem auto;
  max-width: 1350px;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 50px;
  place-items: center;
  align-items: center;
  padding: clamp(0.6rem, 2vw + 1rem, 10%);
  border: 1px solid #fff;
  gap: 2rem;
}
/* information*/
.container .element_1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: 1px solid #fff;
  gap: 0.5rem;
  padding: 0.5rem;
}

.element_1 > h1 {
  text-align: center;
  color: var(--color-neutro);
  font-size: clamp(1.5rem, 1.3919rem + 0.7207vw, 2rem);
}

.element_1 > p {
  text-align: justify;
  font-size: clamp(0.8rem, 0.6919rem + 0.7207vw, 1.3rem);
}
/* picture */
.element_2 {
  border: 1px solid #fff;
}
.element_2 img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
}
/* skills */
.element_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  transform: rotate(90deg);
}

.element_3 .clickMe {
  transform: rotate(0deg);
  animation: myAnim 3s ease 0s infinite normal forwards;
}
@keyframes myAnim {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.social {
  display: flex;
  gap: 1rem;

  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}
.icon {
  color: var(--color-secundary);
  font-size: 2.5rem;
}

@media screen and (max-width: 960px) {
  .container {
    grid-template-columns: 1fr;
  }

  .element_1 {
    justify-content: center;
  }

  .element_3 {
    transform: rotate(0deg);
  }
}
