section {
  height: 99vh;
  width: 100%;
}

.container {
  margin: 2rem auto;
  max-width: 1350px;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 50px;
  place-items: center;
  align-items: center;
  padding: clamp(0.6rem, 2vw + 1rem, 10%);
  gap: 2rem;
}
/* information*/
.contenido {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.5rem;
  padding: 0.5rem;
  height: 100%;
}

.contenido > h1 {
  text-align: center;
  color: var(--color-neutro);
  font-size: clamp(1.5rem, 1.3919rem + 0.7207vw, 2rem);
  padding-bottom: 1rem;
}

.contenido > p {
  text-align: justify;
  font-size: clamp(0.8rem, 0.6919rem + 0.7207vw, 1.3rem);
}

/* svg */
.icon {
  width: 45px;
  color: var(--color-secundary);
  font-size: 2.5rem;
}

.social {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}

.social a:hover {
  color: var(--color-neutro-variant);
}

/* picture */
.content_image::after,
.content_image::before {
  content: "";
  display: block;
  position: absolute;
  border: 5px;
  border: 1px solid #fff;
  animation: orbit 2s linear infinite;
}
@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(70px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(80px) rotate(-360deg);
  }
}

.content_image img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: -4px 2px 56px var(--color-neutro);
}

/* skills */
.skill_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  transform: rotate(90deg);
  position: relative;
}

.skill_body .clickMe {
  width: max-content;
  position: absolute;
  top: -20px;
  transform: rotate(0deg);
  animation: myAnim 3s ease 0s infinite normal forwards;
}
.skill_body .title {
  padding: 0.2rem 0.4rem;
  cursor: pointer;
}

.active {
  color: var(--color-secundary);
  box-shadow: -4px 2px 10px #fff;
}
.list {
  display: none;
}

@keyframes myAnim {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@media screen and (max-width: 960px) {
  .container {
    grid-template-columns: 1fr;
  }

  .element_1 {
    justify-content: center;
  }

  .skill_body {
    transform: rotate(0deg);
  }

  .skill_body .clickMe {
    top: 35px;
  }
}
